.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 18px;

  input {
    padding: 15px;
    background-color: var(--grey-2);

    border-radius: 5px;

    font-size: var(--paragraph);
  }

  input::placeholder {
    color: var(--grey-1);
  }

  label {
    font-size: var(--headline);
    color: var(--grey-0);
  }
}
